Arpeggio==2.0.2
attrs==24.2.0
debugpy==1.8.8
dill==0.3.9
grpcio==1.66.2
parver==0.5
protobuf==4.25.5
pulumi==3.138.0
pulumi_discord @ file:./sdks/discord
pulumi_github==6.3.2
PyYAML==6.0.2
semver==2.13.0
setuptools==75.4.0
six==1.16.0
wheel==0.45.0
